{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.9/css/intlTelInput.css" rel="stylesheet"
        media="screen">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-multiselect.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="{% static 'img/logo.png' %}" alt="" />
                <span class="d-none d-lg-block">logo here</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link text-decoration-none text-black" href="{% url 'About-Us:aboutus' %}">
                        <span>About Us</span>
                    </a>
                </li>
                <!-- End Login Page Nav -->

                <li class="nav-item">
                    <a class="nav-link text-decoration-none text-black" href="{% url 'Contact-Us:contactus' %}">
                        <span>Contact Us</span>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    {% if request.user.is_authenticated %}
                    {% if request.user.role.name == "HOD" %}

                    {{'footer_services'|count_notification}}
        
                    {% endif %}
                    {% endif %}

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">

                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2" >You Marking all As Read New Notifications</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        {% if request.user.is_authenticated %}
                        {% if request.user.role.name == "HOD" %}
                        {{'footer_services'|get_notification}}
                        {% endif %}
                        {% endif %}

                        <li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li class="dropdown-footer">
                            <a href="{% url 'Send-Notification:allnotification' %}">Show all notifications</a>
                        </li>
                    </ul>
                    <!-- End Notification Dropdown Items -->
                </li>
                <!-- End Notification Nav -->

                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle" />
                        {% if request.user.is_superuser  %}
                        <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span> </a>
                        {% else %}
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{user.fullname}}</span> </a>
                        {% endif %}
                    <!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'My-Account:myaccount' %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'My-Account:myaccount' %}">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'user_info:logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->
            </ul>
        </nav>
        <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            {% if request.user.is_superuser  %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Dashboard:dashboard' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'user_info:user-profile' %}">
                    <i class="bi bi-person"></i>
                    <span>User Profile</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Data-Upload:dataupload' %}">
                    <i class="bi bi-cloud-upload"></i>
                    <span>Data Upload</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'My-Upload:myupload' %}">
                    <i class="bi bi-cloud-upload"></i>
                    <span>My uploads</span>
                </a>
            </li>
            <!-- End F.A.Q Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Rejected-Upload:rejectedupload' %}">
                    <i class="bi bi-upload"></i>
                    <span>Rejected uploads</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Send-Notification:sendnotification' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Send Notification</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'View-Paper:paper' %}">
                    <i class="bi bi-card-list"></i>
                    <span>View Paper</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'My-Account:myaccount' %}">
                    <i class="bi bi-person"></i>
                    <span>My Account</span>
                </a>
            </li>
            {% endif %}
            <!-- End Profile Page Nav -->
            {% if request.user.is_authenticated %}
            {% if request.user.role.name == "SETTER" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Dashboard:dashboard' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Data-Upload:dataupload' %}">
                    <i class="bi bi-cloud-upload"></i>
                    <span>Data Upload</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'My-Upload:myupload' %}">
                    <i class="bi bi-cloud-upload"></i>
                    <span>My uploads</span>
                </a>
            </li>
            <!-- End F.A.Q Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Rejected-Upload:rejectedupload' %}">
                    <i class="bi bi-upload"></i>
                    <span>Rejected uploads</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'My-Account:myaccount' %}">
                    <i class="bi bi-person"></i>
                    <span>My Account</span>
                </a>
            </li>
            {% endif %}
            {% endif %}
            <!-- End Contact Page Nav -->
            {% if request.user.is_authenticated %}
            {% if request.user.role.name == "HOD" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Dashboard:dashboard' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Data-Upload:dataupload' %}">
                    <i class="bi bi-cloud-upload"></i>
                    <span>Data Upload</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Send-Notification:sendnotification' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Send Notification</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'View-Paper:paper' %}">
                    <i class="bi bi-card-list"></i>
                    <span>View Paper</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'My-Account:myaccount' %}">
                    <i class="bi bi-person"></i>
                    <span>My Account</span>
                </a>
            </li>
            {% endif %}
            {% endif %}
            {% if request.user.is_authenticated %}
            {% if request.user.role.name == "HOI" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Dashboard:dashboard' %}">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Data-Upload:dataupload' %}">
                    <i class="bi bi-cloud-upload"></i>
                    <span>Data Upload</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'Send-Notification:sendnotification' %}">
                    <i class="bi bi-card-list"></i>
                    <span>Send Notification</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'View-Paper:paper' %}">
                    <i class="bi bi-card-list"></i>
                    <span>View Paper</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'My-Account:myaccount' %}">
                    <i class="bi bi-person"></i>
                    <span>My Account</span>
                </a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </aside>
    <!-- End Sidebar-->
    <!-------------------------------------end header------------------------------------------>
    {% block content %}
    {% endblock %}

    <!-------------------------------------start footer------------------------------------------>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <!-- Vendor JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>   
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
    <!-- Template Main JS File -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- *******************************Delete Script***************************  -->
    <Script>
        $(document).ready(function () {
            $(".delete").click(function () {
                var delete_value = $(this).data("id");
                swal({
                    title: "Are you sure?",
                    text: "You want to delete !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Yes, delete it!',
                    closeOnConfirm: false,
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            var token = '{{csrf_token}}';
                            $.ajax({
                                headers: { "X-CSRFToken": token },
                                url: "/my-upload/delete-data/" + delete_value,
                                type: "POST",
                                success: function () {
                                    swal("Done!", "It was succesfully deleted!", "success");
                                    location.reload();
                                }
                            });
                        }
                        else {
                            swal("Cancelled", "Your imaginary file is safe :)", "error");
                        }
                    })
            });
        });
    </Script>
    <!-- *******************************User Delete Script***************************  -->
    <Script>
        $(document).ready(function () {
            $(".delete").click(function () {
                var delete_value = $(this).data("id");
                swal({
                    title: "Are you sure?",
                    text: "You want to delete !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Yes, delete it!',
                    closeOnConfirm: false,
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            var token = '{{csrf_token}}';
                            $.ajax({
                                headers: { "X-CSRFToken": token },
                                url: "user-delete/" + delete_value,
                                type: "POST",
                                success: function () {
                                    swal("Done!", "It was succesfully deleted!", "success");
                                    location.reload();
                                }
                            });
                        }
                        else {
                            swal("Cancelled", "Your imaginary file is safe :)", "error");
                        }
                    })
            });
        });
    </Script>
    <!-- *******************************Notification***************************  -->

    <script>
        function removeNumber() {
            document.getElementsByClassName('badge')[0].innerHTML = '';

          }
    </script>
   
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example-getting-started').multiselect({
                enableClickableOptGroups: true,
                includeSelectAllOption:true,
                nonSelectedText: 'Users',
                search: true,
            });
        });
    </script>

</body>

</html>